 .card {
        border: 1px gray solid;
        border-radius: 5px;
        width: 210px;
        text-align: center;           
      }

img {
    width: 200px;
    border-radius: 50%;
    border: solid 5px #ecb7bf;
}
   
    
